site_name: My Project
site_url: https://sitename.example
theme:
  name: material
  language: en
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

nav:
  - Home: index.md
  - Getting Started: getting-started.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/yourusername